<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS} %p] - %m%n"/>
        </console>
        <RollingFile name="File" fileName="logs/latest.log"
                     filePattern="logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS} %p] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="all">
            <appender-ref ref="Console"/>
            <appender-ref ref="File"/>
        </root>
        <!--suppress CheckTagEmptyBody -->
        <logger name="io.netty" level="INFO"></logger>
    </loggers>
</configuration>